<div class="toto">
  <h1>Ma question: </h1>
    <p><%= @answer %></p>
  <br>
  <br>
  <h1>La réponse du coach:</h1>
    <p><%= @coach_answer %></p>
  <br>
  <br>
    <%= link_to "Ask a new question.", ask_path %>
</div>
