<h1>Stupid Coaching</h1>
<br>
  <p>Discuss with your coach:</p>
<form action="/answer" data-turbo="false">
  <input type="text" name="question">
  <input type="submit" value="Ask!" class="titi">
</form>
